<mat-toolbar color="primary" class="header">
  <div class="logo">
    <mat-icon>local_fire_department</mat-icon>
    <span>MegaProd</span>
  </div>

  <nav class="navigation">
    <a class="link" routerLink="/">Главная</a>
    <a class="link" routerLink="/about">О нас</a>
    <a class="link" routerLink="/vacancies">Вакансии</a>
    <a class="link" routerLink="/contacts">Контакты</a>
    <a class="link" routerLink="/press">Пресс-служба</a>
    <a class="link" routerLink="/faq">Вопросы и ответы</a>
  </nav>

  <div class="user">
    user
  </div>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>